@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    --corDefundo: #000;
    --fontFirst: #fff;
    --fontSecond: #000;
}

body {
    font-family: "Darker Grotesque", serif;
    color: var(--fontFirst);
    background-color: var(--corDefundo);
    font-weight: 400;
}

li {
    list-style: none;
}

a {
    color: var(--fontFirst);
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

.container {
    display: flex;
}

.navbar {
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.social-icons {
    display: flex;
    justify-content: space-between;
}

.gallery {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/fotoBackground.jpeg);
    background-size: cover;
    color: var(--fontFirst);
}

.gallery-title {
    font-weight: 500;
}

.btn-more {
    color: var(--fontFirst);
    font-weight: bold;
}